/* html {
    opacity:.1;
} */

td, th {
  padding: 5px 10px 5px 10px;
}

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 16%;
  margin: 2%;
}

/* Middle column */
.column.middle {
  width: 76%;
  margin: 2%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}