{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="page-header">
  <a href="./translationhistory" target="_blank">See all translations</a>
  <h1>Welcome to the <i>Logos</i> Machine Translator</h1>
  <p>Page last refreshed: {{ moment(current_time).format('LLLL') }}
      ({{ moment(current_time).fromNow(refresh=True) }}).</p>
</div>

<div class="row">
  <div class="column side">
    <p>Choose a model and language, then enter text to translate</p>
    {{ wtf.quick_form(form) }}
  </div>
  
  <div class="column middle">
    
    <h2>{{ input_selection }}</h2>
    {% if input_string %}
    <h4>{{ input_string }}</h4>
    {% endif %}
    <h2>{{ ouput_selection }}</h2>
    <h4>{{ output_string }}</h4>
    
  </div>
<hr/>
<br/>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:

      <a href="https://www.notion.so/Logos-fa312d1eb5504c198090ff0da64bc511" target="_blank"> Logos Productions</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  {% endblock %}