{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

# Define the page title in the browser
{% block title %}Logos Translator{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to the <i>Logos</i> Machine Translator</h1>
    <p>Page last refreshed: {{ moment(current_time).format('LLLL') }}
      ({{ moment(current_time).fromNow(refresh=True) }}).</p>
</div>

{{ wtf.quick_form(form) }}
<hr/>
{% if form_input %}
<h2>Logos Machine Translation<h2>
{% if known %}
<h4>({{ ouput_selection }}) {{ form_output }}*</h4>
<p><i>Translation already exists; showing cached version.</i></p>
{% else %}
<h4>({{ ouput_selection }}) {{ form_output }}</h4>
{% endif %}
{% endif %}

<hr/>
<div class="page=header">
    <table style="width:100%">
        <caption>Translation History</caption>
        <tr>
          <th>ID</th>
          <th>Source</th>
          <th>Target</th>
          <th>Model</th>
          <th>Date Translated</th>
          <th>Time Elapsed</th>
        </tr>
        {% for translation in table_of_translation_history %}
        <tr>
          <td>{{ translation[0] }}</td>
          <td>({{ translation[3] }}) {{ translation[2] }}</td>
          <td>({{ translation [5] }}) {{ translation[4] }}</td>
          <td><a href="/themodels" target="_blank">{{ translation[6] }}</a></td>
          <td>{{ moment(translation[1]).format('LLLL') }} ({{ moment(translation[1]).fromNow(refresh=True) }})</td>
          <td>{{ translation[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
<p>  </p>
<hr/>
