{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

# Define the page title in the browser
{% block title %}Logos Translator{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to the <i>Logos</i> Machine Translator</h1>
    <p>Page last refreshed: {{ moment(current_time).format('LLLL') }}
      ({{ moment(current_time).fromNow(refresh=True) }}).</p>
</div>

{{ wtf.quick_form(form) }}
<hr/>
{% if form_input %}
<h2>Logos Machine Translations<h2>
<h3>{{ input_selection }} —> {{ ouput_selection }}</h3>
<h4>You entered:</h4>
<p>{{ form_input }}</p>
<h4>Logos translated it into:</h4>
<p>{{ form_output }}</p>
{% endif %}
{% if not known %}
<p>Input string was never translated by Logos before</p>
{% else %}
<p>(*) Showing cached translation</p>
{% endif %}
{% endblock %}
