{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<!-- <div class="page-header">
    <p>Page last refreshed: {{ moment(current_time).format('LLLL') }}
      ({{ moment(current_time).fromNow(refresh=True) }}).</p>
</div> -->
<div class="page-header">
    <h1>Detail for {{ model_name }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas accumsan ante, a blandit purus aliquet eget. Aliquam faucibus tempus nibh, vitae porttitor lectus pulvinar vitae. Pellentesque in lacus sed libero porta vestibulum ac et quam. Suspendisse gravida efficitur sem non mattis. Nulla bibendum rutrum dui, non varius ipsum pharetra eu. Morbi porttitor tincidunt mauris non blandit. Integer blandit commodo aliquet. Duis vel mollis ipsum, vitae dictum ex. Mauris ultricies sem in accumsan ornare. Proin diam augue, molestie a quam nec, tincidunt porta dolor. Integer congue, purus vel suscipit tincidunt, magna mi consectetur nibh, vitae molestie tellus sapien a nisi. Integer malesuada purus hendrerit pellentesque elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed finibus fringilla velit. Nulla egestas, elit pharetra consectetur molestie, nibh ex tempor metus, quis tempus quam est non lacus. Donec at feugiat magna.</p>
    <pre>{{ engine_code }}</pre>
    
</div>

{% endblock %}
